MediaCMS.site = {
	<!-- {% comment %}
	@harryitc
	id: 'mediacms',
	{% endcomment %} -->
	id: 'Hutech-Media',
    title: "{{PORTAL_NAME}}",
    url: '{{FRONTEND_HOST}}',
    api: '{{FRONTEND_HOST}}/api/v1',
    theme: {
    	mode: '{{DEFAULT_THEME}}',   
		switch: {
			position: 'sidebar',	// Valid values: 'header', 'sidebar'.
		},
    },
    logo:{
		<!-- {% comment %}
         @harryitc
        {% endcomment %} -->
    	lightMode:{
            img: "/static/images/logo-hutech.png",
            svg: "/static/images/logo-hutech.svg",
    	},
    	darkMode:{
            img: "/static/images/logo-hutech.png",
            svg: "/static/images/logo-hutech.svg",
    	},
    },
    pages: {
		<!-- {% comment %}
         @harryitc
        {% endcomment %} -->
		<!-- {% comment %}
		 latest:{
			 title: 'Recent uploads',
		 },
		 featured:{
			 title: 'Featured',
		 },
		 recommended:{
			 title: 'Recommended',
		 },
		 members:{
			 title: 'Members',
		 },
        {% endcomment %} -->
    },
    userPages: {
		<!-- {% comment %}
         @harryitc
        {% endcomment %} -->
		<!-- {% comment %}
    	liked: {
	    	title: 'Liked media',
    	},
        {% endcomment %} -->
    	history: {
	    	title: 'Lịch sử Media',
    	},
    },
    taxonomies: {
		<!-- {% comment %}
         @harryitc
        {% endcomment %} -->
		<!-- {% comment %}
	    tags: {
	    	title: 'Tags',
	    },
        {% endcomment %} -->
	    categories: {
	    	title: 'Danh mục',
	    },
    },
};

